.header-content {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 2.5rem;
  border-bottom: 0.0625rem solid #FFEADA;
}
.header-content .btn-container {
  display: flex;
  align-items: center;
  gap: 1.0625rem;
}
.header-content .btn-container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  color: #FFEADA;
  z-index: 99;
}
.header-content .btn-container .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
  overflow: hidden;
}
.header-content .btn-container .hamburger .bar, .header-content .btn-container .hamburger:after, .header-content .btn-container .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.0625rem;
  background-color: #FFEADA;
  margin: 0.375rem 0;
  transition: 0.4s;
  left: 0;
}
.header-content .btn-container .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-0.125rem, 0.125rem);
}
.header-content .btn-container .hamburger.is-active:after {
  transform: rotate(45deg) translate(-0.125rem, -0.125rem);
}
.header-content .btn-container .hamburger.is-active .bar {
  display: none;
}
.header-content .btn-container .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  background-color: #363D3B;
  transition: 1s;
  padding: 8rem 2.75rem 0 4.625rem;
  white-space: nowrap;
}
.header-content .btn-container .mobile-nav.is-active {
  right: 0;
}
.header-content .btn-container .mobile-nav ul li {
  list-style-type: none;
  padding-bottom: 2.875rem;
}
.header-content .btn-container .mobile-nav ul li:last-child {
  padding-bottom: 0;
}
.header-content .btn-container .mobile-nav ul li a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  font-size: 2.125rem;
  font-weight: 400;
  color: #FFEADA;
  transition: background-color 0.3s;
  margin: 0 auto;
  text-decoration: none;
}
.header-content .btn-container .mobile-nav ul li a.active {
  font-size: 2.75rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .header-content .btn-container .mobile-nav {
    width: 100%;
  }
}
.section-lorem-ipsum {
  position: relative;
  padding: 15.6875rem 3.75rem 0 22.6875rem;
}
.section-lorem-ipsum .header-lorem-ipsum {
  margin-bottom: 6.25rem;
}
.section-lorem-ipsum .header-lorem-ipsum h1 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    font-size: 3.125rem;
  }
}
.section-lorem-ipsum .header-lorem-ipsum p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .header-lorem-ipsum p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum p {
    max-width: unset;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
  margin-bottom: 11.6875rem;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image img {
  width: 100%;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
  display: flex;
  gap: 8.9375rem;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
  font-size: 2.75rem;
  font-weight: 400;
  color: #FFEADA;
  margin-bottom: 2.125rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    font-size: 1.875rem;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
    max-width: unset;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-img img {
  width: 100%;
}

.section-fusce-tellus {
  padding: 15.6875rem 3.75rem 0 3.75rem;
  position: relative;
}
.section-fusce-tellus .header-fusce-tellus {
  padding-left: 18.9375rem;
  margin-bottom: 6.25rem;
}
.section-fusce-tellus .header-fusce-tellus h2 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-fusce-tellus .header-fusce-tellus h2 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-fusce-tellus .header-fusce-tellus h2 {
    font-size: 3.125rem;
  }
}
.section-fusce-tellus .header-fusce-tellus p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-fusce-tellus .header-fusce-tellus p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .section-fusce-tellus .header-fusce-tellus p {
    max-width: unset;
  }
}
.section-fusce-tellus .container-fusce-telllus {
  display: flex;
  gap: 1.125rem;
}
.section-fusce-tellus .container-fusce-telllus .image-box-squirrell img {
  width: 100%;
}
.section-fusce-tellus .container-fusce-telllus .image-box-wolf img {
  width: 100%;
}

.section-integer-tempor {
  padding: 15.6875rem 3.75rem 30.625rem 3.75rem;
  position: relative;
}
.section-integer-tempor .header-integer-tempor {
  padding-left: 18.9375rem;
  margin-bottom: 6.25rem;
}
.section-integer-tempor .header-integer-tempor h2 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-integer-tempor .header-integer-tempor h2 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-integer-tempor .header-integer-tempor h2 {
    font-size: 3.125rem;
  }
}
.section-integer-tempor .header-integer-tempor p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-integer-tempor .header-integer-tempor p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .section-integer-tempor .header-integer-tempor p {
    max-width: unset;
  }
}
.section-integer-tempor .integer-tempor-layout {
  display: flex;
  gap: 1.125rem;
}
.section-integer-tempor .integer-tempor-layout .integer-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section-integer-tempor .integer-tempor-layout .integer-block .integer-block-img-bird img {
  width: 100%;
}
.section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
  max-width: 21.375rem;
  margin-top: 6.25rem;
}
@media (max-width: 767px) {
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    max-width: unset;
  }
}
.section-integer-tempor .integer-tempor-layout .integer-block-img-deer img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .section-lorem-ipsum {
    padding: 5rem 1rem 0 1rem;
  }
  .section-fusce-tellus {
    padding: 5rem 1rem 0 1rem;
  }
  .section-fusce-tellus .container-fusce-telllus {
    flex-direction: column;
  }
  .section-integer-tempor {
    padding: 5rem 1rem;
  }
  .section-integer-tempor .integer-tempor-layout {
    flex-direction: column;
    gap: 0;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block {
    align-items: unset;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin: 1.875rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-lorem-ipsum {
    padding: 10rem 2rem 0 2rem;
  }
  .section-fusce-tellus {
    padding: 10rem 2rem 0 2rem;
  }
  .section-integer-tempor {
    padding: 10rem 2rem;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum {
    margin-bottom: 1.875rem;
  }
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    margin-bottom: 1.875rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
    margin-bottom: 3.75rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
    flex-direction: column;
    gap: 3.125rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    margin-bottom: 1.25rem;
  }
  .section-fusce-tellus .header-fusce-tellus {
    margin-bottom: 1.875rem;
  }
  .section-fusce-tellus .header-fusce-tellus h2 {
    margin-bottom: 1.875rem;
  }
  .section-integer-tempor .header-integer-tempor {
    margin-bottom: 1.875rem;
  }
  .section-integer-tempor .header-integer-tempor h2 {
    margin-bottom: 1.875rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .section-lorem-ipsum {
    padding: 12.5rem 3.125rem 0 3.125rem;
  }
  .section-lorem-ipsum .header-lorem-ipsum {
    margin-bottom: 3.125rem;
  }
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    margin-bottom: 2.5rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
    margin-bottom: 5rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
    gap: 5rem;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    margin-bottom: 1.5625rem;
  }
  .section-fusce-tellus {
    padding: 12.5rem 3.125rem 0 3.125rem;
  }
  .section-fusce-tellus .header-fusce-tellus {
    margin-bottom: 3.125rem;
  }
  .section-fusce-tellus .header-fusce-tellus h2 {
    margin-bottom: 2.5rem;
  }
  .section-integer-tempor {
    padding: 12.5rem 3.125rem;
  }
  .section-integer-tempor .header-integer-tempor {
    margin-bottom: 3.125rem;
  }
  .section-integer-tempor .header-integer-tempor h2 {
    margin-bottom: 2.5rem;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin-top: 3.125rem;
  }
}
@media screen and (max-width: 1440px) {
  .section-fusce-tellus .header-fusce-tellus {
    padding-left: 0;
  }
  .section-integer-tempor .header-integer-tempor {
    padding-left: 0;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cyrene";
  src: url("./Cyrene+Regular+Advanced.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Cyrene";
  background-color: #AD6958;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  letter-spacing: 0.0938rem;
}

.hidden {
  opacity: 0;
  transform: translateY(6.25rem);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.absolute-text {
  position: absolute;
  top: 7.1875rem;
  left: 2.5rem;
  z-index: -1;
  font-size: 13.75rem;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .absolute-text {
    font-size: 8.75rem;
  }
}
.absolute-text--dark {
  color: #7B3929;
}
.absolute-text--light {
  color: #98503E;
}

.abstract-motive {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  z-index: -1;
}
.abstract-motive::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: linear-gradient(to bottom, rgba(173, 105, 88, 0) 0%, rgb(173, 105, 88) 100%);
  pointer-events: none;
  z-index: -1;
}
.abstract-motive img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2;
}

@media screen and (max-width: 1023px) {
  .absolute-text {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .absolute-text {
    left: 1.3125rem;
  }
}/*# sourceMappingURL=style.css.map */