.header-content {
  display: flex;
  justify-content: flex-end;
  padding: 24px 40px;
  border-bottom: 1px solid #FFEADA;
}
.header-content .btn-container {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header-content .btn-container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  color: #FFEADA;
  z-index: 99;
}
.header-content .btn-container .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.header-content .btn-container .hamburger .bar, .header-content .btn-container .hamburger:after, .header-content .btn-container .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFEADA;
  margin: 6px 0;
  transition: 0.4s;
  left: 0;
}
.header-content .btn-container .hamburger.is-active:before {
  transform: rotate(306deg) translate(-0.25rem, 0.25rem);
}
.header-content .btn-container .hamburger.is-active:after {
  transform: rotate(55deg) translate(-0.25rem, -0.25rem);
}
.header-content .btn-container .hamburger.is-active .bar {
  opacity: 0;
}
.header-content .btn-container .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  background-color: #363D3B;
  transition: 1s;
  padding: 128px 44px 0 74px;
  white-space: nowrap;
}
.header-content .btn-container .mobile-nav.is-active {
  right: 0;
}
.header-content .btn-container .mobile-nav ul li {
  list-style-type: none;
  padding-bottom: 46px;
}
.header-content .btn-container .mobile-nav ul li:last-child {
  padding-bottom: 0;
}
.header-content .btn-container .mobile-nav ul li a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  font-size: 2.125rem;
  font-weight: 400;
  color: #FFEADA;
  transition: background-color 0.3s;
  margin: 0 auto;
  text-decoration: none;
}
.header-content .btn-container .mobile-nav ul li a.active {
  font-size: 2.75rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .header-content .btn-container .mobile-nav {
    width: 100%;
  }
}
.section-lorem-ipsum {
  position: relative;
  padding: 251px 60px 0 363px;
}
.section-lorem-ipsum .header-lorem-ipsum {
  margin-bottom: 100px;
}
.section-lorem-ipsum .header-lorem-ipsum h1 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    font-size: 50px;
  }
}
.section-lorem-ipsum .header-lorem-ipsum p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .header-lorem-ipsum p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum p {
    max-width: unset;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
  margin-bottom: 187px;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image img {
  width: 100%;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
  display: flex;
  gap: 143px;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
  font-size: 2.75rem;
  font-weight: 400;
  color: #FFEADA;
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    font-size: 30px;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
    max-width: unset;
  }
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-img img {
  width: 100%;
}

.section-fusce-tellus {
  padding: 251px 60px 0 60px;
  position: relative;
}
.section-fusce-tellus .header-fusce-tellus {
  padding-left: 303px;
  margin-bottom: 100px;
}
.section-fusce-tellus .header-fusce-tellus h2 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-fusce-tellus .header-fusce-tellus h2 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-fusce-tellus .header-fusce-tellus h2 {
    font-size: 50px;
  }
}
.section-fusce-tellus .header-fusce-tellus p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-fusce-tellus .header-fusce-tellus p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .section-fusce-tellus .header-fusce-tellus p {
    max-width: unset;
  }
}
.section-fusce-tellus .container-fusce-telllus {
  display: flex;
  gap: 18px;
}
.section-fusce-tellus .container-fusce-telllus .image-box-squirrell img {
  width: 100%;
}
.section-fusce-tellus .container-fusce-telllus .image-box-wolf img {
  width: 100%;
}

.section-integer-tempor {
  padding: 251px 60px 490px 60px;
  position: relative;
}
.section-integer-tempor .header-integer-tempor {
  padding-left: 303px;
  margin-bottom: 100px;
}
.section-integer-tempor .header-integer-tempor h2 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .section-integer-tempor .header-integer-tempor h2 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-integer-tempor .header-integer-tempor h2 {
    font-size: 50px;
  }
}
.section-integer-tempor .header-integer-tempor p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .section-integer-tempor .header-integer-tempor p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .section-integer-tempor .header-integer-tempor p {
    max-width: unset;
  }
}
.section-integer-tempor .integer-tempor-layout {
  display: flex;
  gap: 18px;
}
.section-integer-tempor .integer-tempor-layout .integer-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section-integer-tempor .integer-tempor-layout .integer-block .integer-block-img-bird img {
  width: 100%;
}
.section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
  max-width: 342px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    max-width: unset;
  }
}
.section-integer-tempor .integer-tempor-layout .integer-block-img-deer img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .section-lorem-ipsum {
    padding: 80px 16px 0 16px;
  }
  .section-fusce-tellus {
    padding: 80px 16px 0 16px;
  }
  .section-fusce-tellus .container-fusce-telllus {
    flex-direction: column;
  }
  .section-integer-tempor {
    padding: 80px 16px;
  }
  .section-integer-tempor .integer-tempor-layout {
    flex-direction: column;
    gap: 0;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block {
    align-items: unset;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin: 30px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-lorem-ipsum {
    padding: 160px 32px 0 32px;
  }
  .section-fusce-tellus {
    padding: 160px 32px 0 32px;
  }
  .section-integer-tempor {
    padding: 160px 32px;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .section-lorem-ipsum .header-lorem-ipsum {
    margin-bottom: 30px;
  }
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    margin-bottom: 30px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
    margin-bottom: 60px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    margin-bottom: 20px;
  }
  .section-fusce-tellus .header-fusce-tellus {
    margin-bottom: 30px;
  }
  .section-fusce-tellus .header-fusce-tellus h2 {
    margin-bottom: 30px;
  }
  .section-integer-tempor .header-integer-tempor {
    margin-bottom: 30px;
  }
  .section-integer-tempor .header-integer-tempor h2 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .section-lorem-ipsum {
    padding: 200px 50px 0 50px;
  }
  .section-lorem-ipsum .header-lorem-ipsum {
    margin-bottom: 50px;
  }
  .section-lorem-ipsum .header-lorem-ipsum h1 {
    margin-bottom: 40px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
    margin-bottom: 80px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
    gap: 80px;
  }
  .section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
    margin-bottom: 25px;
  }
  .section-fusce-tellus {
    padding: 200px 50px;
  }
  .section-fusce-tellus .header-fusce-tellus {
    margin-bottom: 50px;
  }
  .section-fusce-tellus .header-fusce-tellus h2 {
    margin-bottom: 40px;
  }
  .section-integer-tempor {
    padding: 200px 50px 0 50px;
  }
  .section-integer-tempor .header-integer-tempor {
    margin-bottom: 50px;
  }
  .section-integer-tempor .header-integer-tempor h2 {
    margin-bottom: 40px;
  }
  .section-integer-tempor .integer-tempor-layout .integer-block .integer-block-text {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .section-fusce-tellus .header-fusce-tellus {
    padding-left: 0;
  }
  .section-integer-tempor .header-integer-tempor {
    padding-left: 0;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #AD6958;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

.absolute-text {
  position: absolute;
  top: 115px;
  left: 40px;
  z-index: -1;
  font-size: 13.75rem;
}
@media (max-width: 767px) {
  .absolute-text {
    font-size: 50px;
  }
}
.absolute-text--dark {
  color: #7B3929;
}
.absolute-text--light {
  color: #98503E;
}

.abstract-motive {
  position: absolute;
}
.abstract-motive::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: linear-gradient(to bottom, rgba(173, 105, 88, 0) 0%, rgb(173, 105, 88) 100%);
  pointer-events: none;
  z-index: -1;
}
.abstract-motive img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2;
}/*# sourceMappingURL=style.css.map */