.header-content {
  display: flex;
  justify-content: flex-end;
  padding: 24px 40px;
  border-bottom: 1px solid #FFEADA;
}
.header-content .btn-container {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header-content .btn-container p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  color: #FFEADA;
  z-index: 99;
}
.header-content .btn-container .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.header-content .btn-container .hamburger .bar, .header-content .btn-container .hamburger:after, .header-content .btn-container .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFEADA;
  margin: 6px 0;
  transition: 0.4s;
  left: 0;
}
.header-content .btn-container .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-0.5rem, 0.375rem);
}
.header-content .btn-container .hamburger.is-active:after {
  transform: rotate(45deg) translate(-0.5625rem, -0.5rem);
}
.header-content .btn-container .hamburger.is-active .bar {
  opacity: 0;
}
.header-content .btn-container .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: #363D3B;
  transition: 1s;
  padding: 9.375rem 1.25rem 0 1.25rem;
  white-space: nowrap;
}
.header-content .btn-container .mobile-nav.is-active {
  right: 0;
}
.header-content .btn-container .mobile-nav ul li {
  list-style-type: none;
  padding-bottom: 46px;
}
.header-content .btn-container .mobile-nav ul li:last-child {
  padding-bottom: 0;
}
.header-content .btn-container .mobile-nav ul li a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  font-size: 2.125rem;
  font-weight: 400;
  color: #FFEADA;
  transition: background-color 0.3s;
  margin: 0 auto;
  text-decoration: none;
}

.section-lorem-ipsum {
  padding: 251px 60px 0 363px;
}
.section-lorem-ipsum .header-lorem-ipsum {
  margin-bottom: 100px;
}
.section-lorem-ipsum .header-lorem-ipsum h1 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
.section-lorem-ipsum .header-lorem-ipsum p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image {
  margin-bottom: 187px;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-image img {
  width: 100%;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper {
  display: flex;
  gap: 143px;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block h2 {
  font-size: 2.75rem;
  font-weight: 400;
  color: #FFEADA;
  margin-bottom: 34px;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-text-block p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
.section-lorem-ipsum .lorem-ipsum-main .lorem-ipsum-wrapper .lorem-ipsum-img img {
  width: 100%;
}

.section-fusce-tellus {
  padding: 251px 60px 0 60px;
}
.section-fusce-tellus .header-fusce-tellus {
  padding-left: 303px;
  margin-bottom: 100px;
}
.section-fusce-tellus .header-fusce-tellus h2 {
  font-size: 4.375rem;
  color: #FFEADA;
  font-weight: 400;
  max-width: 69.875rem;
  margin-bottom: 4.5rem;
}
.section-fusce-tellus .header-fusce-tellus p {
  font-size: 1.375rem;
  color: #FFEADA;
  line-height: 160%;
  max-width: 32rem;
}
.section-fusce-tellus .container-fusce-telllus {
  display: flex;
  gap: 18px;
}
.section-fusce-tellus .container-fusce-telllus .image-box-squirrell img {
  width: 100%;
}
.section-fusce-tellus .container-fusce-telllus .image-box-wolf img {
  width: 100%;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #AD6958;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}/*# sourceMappingURL=style.css.map */