// == LOREM IPSUM SECTION ==
.section-lorem-ipsum {
    position: relative;
    padding: 15.6875rem 3.75rem 0 22.6875rem;

    

    .header-lorem-ipsum {
        margin-bottom: 6.25rem;

        h1 {
            @include sub-heading
        }

        p {
            @include text-base;
        }
    }

    .lorem-ipsum-main {
        .lorem-ipsum-image {
            margin-bottom: 11.6875rem;

            img {
                width: 100%;
            }
        }

        .lorem-ipsum-wrapper {
            display: flex;
            gap: 8.9375rem;

            .lorem-ipsum-text-block {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    @include base-heading;
                    margin-bottom: 2.125rem;
                }

                p {
                    @include text-base;
                }
            }

            .lorem-ipsum-img {
                img {
                    width: 100%;
                }
            }
        }
    }
}

// == FUSCE TELLUS SECTION ==
.section-fusce-tellus {
    padding: 15.6875rem 3.75rem 0 3.75rem;
    position: relative;

    .header-fusce-tellus {
        padding-left: 18.9375rem;
        margin-bottom: 6.25rem;

        h2 {
            @include sub-heading;
        }

        p {
            @include text-base
        }
    }

    .container-fusce-telllus {
        display: flex;
        gap: 1.125rem;

        .image-box-squirrell {
            img {
                width: 100%;
            }
        }

        .image-box-wolf {
            img {
                width: 100%;
            }
        }
    }
}

// == INTEGER TEMPOR SECTION ==
.section-integer-tempor {
    padding: 15.6875rem 3.75rem 30.625rem 3.75rem;
    position: relative;

    .header-integer-tempor {
        padding-left: 18.9375rem;
        margin-bottom: 6.25rem;

        h2 {
            @include sub-heading;
        }

        p {
            @include text-base;
        }
    }

    .integer-tempor-layout {
        display: flex;
        gap: 1.125rem;

        .integer-block {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .integer-block-img-bird {
                img {
                    width: 100%;
                }
            }

            .integer-block-text {
                @include text-base;
                max-width: 21.375rem;
                margin-top: 6.25rem;
            }
        }

        .integer-block-img-deer {
            img {
                width: 100%;
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 767px) {
    // == LOREM IPSUM SECTION ==
    .section-lorem-ipsum {
        padding: 5rem 1rem 0 1rem;
    }

    // == FUSCE TELLUS SECTION ==
    .section-fusce-tellus {
        padding: 5rem 1rem 0 1rem;

        .container-fusce-telllus {
            flex-direction: column;
        }
    }

    // == INTEGER TEMPOR SECTION ==
    .section-integer-tempor {
        padding: 5rem 1rem;

        .integer-tempor-layout {
            flex-direction: column;
            gap: 0;

            .integer-block {
                align-items: unset;

                .integer-block-text {
                    margin: 1.875rem 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    // == LOREM IPSUM SECTION ==
    .section-lorem-ipsum {
        padding: 10rem 2rem 0 2rem;
    }

    // == FUSCE TELLUS SECTION ==
    .section-fusce-tellus {
        padding: 10rem 2rem 0 2rem;
    }

    // == INTEGER TEMPOR SECTION ==
    .section-integer-tempor {
        padding: 10rem 2rem;

        .integer-tempor-layout {
            .integer-block {
                .integer-block-text {
                    margin-top: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    // == LOREM IPSUM SECTION ==
    .section-lorem-ipsum {        
        .header-lorem-ipsum {
            margin-bottom: 1.875rem;

            h1 {
                margin-bottom: 1.875rem;
            }
        }

        .lorem-ipsum-main {
            .lorem-ipsum-image {
                margin-bottom: 3.75rem;
            }

            .lorem-ipsum-wrapper {
                flex-direction: column;
                gap: 3.125rem;

                .lorem-ipsum-text-block {
                    h2 {
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }

    // == FUSCE TELLUS SECTION ==
    .section-fusce-tellus {
        .header-fusce-tellus {
            margin-bottom: 1.875rem;
            h2 {
                margin-bottom: 1.875rem;
            }
        }
    }

    // == INTEGER TEMPOR SECTION ==
    .section-integer-tempor {
        .header-integer-tempor {
            margin-bottom: 1.875rem;

            h2 {
                margin-bottom: 1.875rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == LOREM IPSUM SECTION ==
    .section-lorem-ipsum {
        padding: 12.5rem 3.125rem 0 3.125rem;

        .header-lorem-ipsum {
            margin-bottom: 3.125rem;

            h1 {
                margin-bottom: 2.5rem;
            }
        }

        .lorem-ipsum-main {
            .lorem-ipsum-image {
                margin-bottom: 5rem;
            }

            .lorem-ipsum-wrapper {
                gap: 5rem;

                .lorem-ipsum-text-block {
                    h2 {
                        margin-bottom: 1.5625rem;
                    }
                }
            }
        }
    }

    // == FUSCE TELLUS SECTION ==
    .section-fusce-tellus {
        padding: 12.5rem 3.125rem 0 3.125rem;

        .header-fusce-tellus {
            margin-bottom: 3.125rem;

            h2 {
                margin-bottom: 2.5rem;
            }
        }
    }

    // == INTEGER TEMPOR SECTION ==
    .section-integer-tempor {
        padding: 12.5rem 3.125rem;

        .header-integer-tempor{
            margin-bottom: 3.125rem;

            h2 {
                margin-bottom: 2.5rem;
            }
        }

        .integer-tempor-layout {
            .integer-block {
                .integer-block-text {
                    margin-top: 3.125rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    // == FUSCE TELLUS SECTION ==
    .section-fusce-tellus{
        .header-fusce-tellus {
            padding-left: 0;
        }
    }

    // == INTEGER TEMPOR SECTION ==
    .section-integer-tempor {
        .header-integer-tempor {
            padding-left: 0;
        }
    }
}